/* .md-header {
	background-color: #782C22;	
}

.md-tabs {
	background-color: #782C22;	
} 

.md-nav__title--site
{
	background-color: #782C22;
} */

.md-footer-nav {
	background-color: #8d1a15;
}
.md-footer-meta {
	background-color:  #8d1a15;
}
.md-nav__link--active {
	color:  #8d1a15;
}
.md-nav__link:focus, .md-nav__link:hover {
      color:  #8d1a15; }
.md-typeset a {
    color:  #8d1a15; }

.md-typeset details > summary {
background-color: #782c2221;
}
.md-typeset details {
	border-left: #8d1a15;
}
.md-typeset details > summary::before {
	color: #8d1a15;
	}
